/* Diseño para fondo y eliminar decoracion de lista  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(126, 167, 165);
    background: linear-gradient(90deg, rgba(126, 167, 165, 1) 5%, rgba(80, 180, 186, 1) 55%, rgba(0, 168, 255, 1) 99%);
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
}

a:hover {
    color: rgba(255, 166, 0, 0.717);
}

/* Diseño del header */

.resaltar{
    color: rgba(255, 166, 0, 0.717);
    font-weight: bold;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    backdrop-filter: blur(20px);
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;

}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

/* Dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    transition: height .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 200px;
}

.dropdown_menu li {
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Diseño para hacer responsive el header */
@media(max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 430px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        width: 90%;
        position: absolute;
        left: 5.5%;
        top: 60px;
    }

    .navbar .action_btn {
        width: 90%;
    }

}

/* Diseño del contenido */
.contenido {
    margin-top: 30px;
    margin-left: 30px;
}

